  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboard">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="employee">
          <i class="mdi mdi-account-multiple menu-icon"></i>
          <span class="menu-title">Employee List</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="blogs">
          <i class="mdi mdi-file-document-box-outline menu-icon"></i>
          <span class="menu-title">Blogs</span>
        </a>
      </li>
    </ul>
  </nav>
