<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3 text-right">
    <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#addEmp">
      <i class="mdi mdi-file-document-box-outline menu-icon"></i> Add Blog
    </button>
  </div>
</div>
<div class="card mt-4 mb-4" *ngFor="let blog of blogs">
  <div class="card-body">
      <div class="row">
        <div class="col-md-9">
          <h3 class="mb-2 mt-2"> {{blog.mainHeading}}</h3>
          <h5 class="mb-4 mt-4">{{blog.subHeading}}</h5>
        </div>
        <div class="col-md-3 text-right">
            <p><i class="mdi mdi-calendar"></i> {{blog.blogDate}}</p>
        </div>
      </div>

     <div class="row">
       <div class="col-md-9">
        <p>{{blog.description}}</p>
       </div>
       <div class="col-md-3">
         <img src="{{blog.fileName}}" class="img-thumbnail">
       </div>
     </div>

  </div>
</div>

<!--Add Employee Modal Starts -->
<div class="modal fade" id="addEmp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-2">
          <h5>Add Blog</h5>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form style="width: 100%;">

            <div class="form-group row">
              <label for="empName" class="col-sm-3 col-form-label">Employee Name:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter Employee Name">
              </div>
            </div>

            <div class="form-group row">
              <label for="empSalary" class="col-sm-3 col-form-label">Employee Salary:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="salary" id="salary" placeholder="Enter Employee Salary">
              </div>
            </div>

            <div class="form-group row">
              <label for="empAge" class="col-sm-3 col-form-label">Employee Age:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="age" id="age" placeholder="Enter Employee Age">
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
            <i class="mdi mdi-delete"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-sm">
           <i class="mdi mdi-content-save"></i> Save
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Ends -->
</div>

